<h1>Mostrando Cliente</h1>
<p>
  <div>
    <strong>Nome</strong>
    <%= @customer.name %>
  </div>
  <div>
    <strong>Email</strong>
    <%= @customer.email %>
  </div>
  <div>
    <strong>Phone</strong>
    <%= @customer.phone%>
  </div>
</p>